/* * {
    overflow: hidden;
} */

body {
    height: 100%;
    width: 100%;
    background-color: rgb(1, 37, 58);
}

.container{
    /*background-color: #333;*/
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-direction: column;
    align-content: center; */
    flex-wrap: wrap;
    margin-top: 140px;
}

.item{
    margin: 20px;
    border-radius: 20px;
    /* border: 3px solid black; */
    background-color: rgba(153, 205, 50, 0);
}

.menu1 {
    height: 50px;
    width: 50px;
    border-radius: 0px;
}

.results {
    height: 400px;
    width: 200px;
    border: 4px solid white;
    border-radius: 10px;
    padding: 120px 30px;
}

.input {
    height: 500px;
    min-width: 500px;
    border: 4px solid white;
    border-radius: 10px;
}

.menu2 {
    height: 50px;
    width: 60px;
    border-radius: 0px;
}

#icon {
    height: 50px;
    width: 50px;
    color: white;
}

#atoms{
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}